/**
 * @name Material Discord - Catppuccin Mocha
 * @version 3.0.5
 * @description A theme based on Google's Material Design
 * @author CapnKitten
 *
 * @website http://github.com/CapnKitten
 * @source https://github.com/CapnKitten/BetterDiscord/blob/master/Themes/Material-Discord/css/source.css
 * @donate https://paypal.me/capnkitten
 * @invite jzJkA6Z
 */

@import url(https://raw.githubusercontent.com/ColtNovak/catpuccin-material/refs/heads/main/style.css);

/* Material You addon */
@import url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/css/addons/material-you/source.css);

.theme-dark {
	--saturation-modifier: 0.31;
	--lightness-modifier: 0.225;
	--text-lightness-modifier: 1.0;
	--ui-darkness-modifier: 1.0;
}

.theme-light {
	--saturation-modifier: 0.74;
	--lightness-modifier: 2.125;
	--text-lightness-modifier: 1.0;
}

:root {
	--accent-hue: 267;
	--accent-saturation: 84%;
	--accent-lightness: 80%;
	--accent-text-color: #1e1e2e; 
	--accent-button-action: #cdd6f4; 

	--alert-hue: 343; 
	--alert-saturation: 82%;
	--alert-lightness: 70%;
	--alert-text-color: #1e1e2e; 

	--warning-hue: 41;
	--warning-saturation: 90%;
	--warning-lightness: 75%;
	--warning-text-color: #1e1e2e; 

	--message-radius: 18px;
	--message-padding-top: 8px;
	--message-padding-side: 12px;

	--media-radius: 10px;

	--card-radius: 8px;
	--card-radius-big: 18px;

	--button-height: 36px;
	--button-padding: 0 24px;
	--button-action-color: #cdd6f4; 

	--input-height: 36px;
	--input-padding: 0 12px;

	--popout-radius: 8px;
	--popout-radius-big: 18px;

	--tooltip-color: hsl(229, 24%, 24%, 0.9);
	--tooltip-text-color: #cdd6f4; 
	--tooltip-font-size: 12px;
	--tooltip-padding: 8px;
	--tooltip-radius: 8px;

	--scrollbar-width: 10px;
	--scrollbar-thin-width: 6px;
}
